<p>Name: <%= @pokemon.name %></p>
<p>Date arrived: <%= @pokemon.date_arrived %> </p>
<p>Breed: <%= @pokemon.breed %> </p>
<p>Trainer: <%= @pokemon.trainer.name if @pokemon.trainerid != 'null' %><%= 'No one - up for adoption!' if @pokemon.trainerid == 'null' %> </p>
